extensions:
	webimages: DotBlue\WebImages\Extension

webimages:
	providers:
		- DefaultImageProvider(%wwwDir%)
		- FakeImageProvider

	routes:
		- 'images/<prefix>/<namespace>-<type>-<id>.jpg'

	image:
		namespace:
			type:
				size: [1200, null]
				quality: 80
				resize: default
